<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Alexandr Chichizola">
    <meta name="description"
        content="Cafés del Mon es una empresa dedicada a ofrecer cafés de alta calidad, cultivados de manera sostenible y con un sabor excepcional. Nuestra misión es brindar a nuestros clientes una experiencia única a través de nuestros productos, promoviendo el consumo responsable y apoyando a los productores locales.">
    <meta name="keywords" content="café, café de alta calidad, café sostenible">
    <link rel="shortcut icon" href="/assets/logos/cafe.svg" type="image/x-icon">
    <title>Cafés del Mon</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <h1>Cafés del Mon</h1>
        <picture>
            <source media="(min-width: 1200px)" srcset="/assets/img/index_2000px.avif" type="image/avif">
            <source media="(min-width: 800px)" srcset="/assets/img/portada_tablet_900px.webp" type="image/webp">
            <source media="(min-width: 500px)" srcset="/assets/img/tassa_sobre_grans_de_cafe_450x675.webp"
                type="image/webp">
            <img class="cover desktop" src="/assets/img/index_2000px.avif" alt="Big cover Cafés del Mon">
        </picture>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Inici</a></li>
            <li><a href="#">Varietats</a></li>
            <li><a href="#">Botiga</a></li>
            <li><a href="#">Sobre nosaltres</a></li>
        </ul>
    </nav>
    <main>
        <div class="section-wrapper wrapper-1">
            <section class="box box-1">
                <img class="image 1" src="../assets/img/taza_cafe_negro_desde_arriba_600x800.avif"
                    alt="Café negro desde arriba">
                <div class="text-content content-end-1">
                    <h2 class="title-text-content-end">Un café delicioso para todas las ocasiones</h2>
                    <p class="paragraph-end">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis aliquid
                        animi
                        ad voluptatem, adipisci
                        rerum, asperiores nesciunt ducimus alias, quasi labore laborum sit. In, maxime eaque
                        necessitatibus
                        deserunt incidunt odit officia doloribus possimus aspernatur a quibusdam!
                    </p>
                </div>
            </section>
        </div>
        <div class="section-wrapper wrapper-2">
            <section class="box box-2">
                <div class="text-content content-start-1">
                    <h2 class="title-text-content-start">Café natural y sostenible</h2>
                    <p class="paragraph-start">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis aliquid
                        animi ad voluptatem, adipisci
                        rerum, asperiores nesciunt ducimus alias, quasi labore laborum sit. In, maxime eaque.
                    </p>
                </div>
                <img class="image 2" src="../assets/img/natural_600x750.avif" alt="Café natural">
            </section>
        </div>
        <div class="section-wrapper wrapper-3">
            <section class="box box-3">
                <video class="video" autoplay muted loop>
                    <source class="video" src="../assets/video/Basic_heart_latte_art.mp4" type="video/mp4">
                    Tu navegador no soporta el elemento de video.
                </video>
                <div class="text-content content-end-2">
                    <h2 class="title-text-content-end">Prepara un café delicioso en casa</h2>
                    <p class="paragraph-end">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis aliquid
                        animi
                        ad voluptatem, adipisci
                        rerum, asperiores nesciunt ducimus alias, quasi labore laborum sit. In, maxime eaque
                        necessitatibus
                        deserunt incidunt odit officia doloribus possimus aspernatur a quibusdam!
                    </p>
                </div>
            </section>
        </div>
        <div class="section-wrapper wrapper-4">
            <section class="box box-4">
                <div class="text-content content-start-2">
                    <h2 class="title-text-content-start">El café nunca debe faltar en un buen encuentro</h2>
                    <p class="paragraph-start"> Amb la familia, amb els amics, amb els companys de feina... El café és
                        el millor acompanyant per a qualsevol
                        trobada.
                    </p>
                </div>
                <img src="../assets/img/grupo-amigos-bebiendo-cafe_1000x667.avif" alt="Amistad y café">
            </section>
        </div>
        <div class="section-wrapper wrapper-5">
            <section class="box box-5">
                <h2>Nuestros clientes opinan</h2>
                <div class="testimonials">
                    <blockquote>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis aliquid animi ad voluptatem,
                            adipisci"</p>
                        <cite>Caperucita Roja</cite>
                    </blockquote>
                    <blockquote>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis aliquid animi ad voluptatem,
                            adipisci rerum, asperiores nesciunt ducimus alias"</p>
                        <cite>Songoku</cite>
                    </blockquote>
                    <blockquote>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis aliquid animi ad voluptatem"</p>
                        <cite>Peter Pan</cite>
                    </blockquote>
                </div>
            </section>
        </div>
    
        <!-- <section class="section-opinions">
            <h2>Nuestros clientes opinan</h2>
            <div>
                <div class="testimonials">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium, debitis? Fugit eveniet,
                        consectetur dolore corporis incidunt commodi culpa animi quia at nisi inventore hic, maxime
                        deleniti
                        deserunt? Ut, similique optio!</p>
                    <cite>Caperucita Roja</cite>
                </div>
                <div class="testimonials">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium, debitis? Fugit eveniet,
                        consectetur dolore corporis incidunt commodi culpa animi quia at nisi inventore hic, maxime
                        deleniti
                        deserunt? Ut, similique optio!</p>
                    <cite>Songoku</cite>
                </div>
                <div class="testimonials">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium, debitis? Fugit eveniet,
                        consectetur dolore corporis incidunt commodi culpa animi quia at nisi inventore hic, maxime
                        deleniti
                        deserunt? Ut, similique optio!</p>
                    <cite>Peter Pan</cite>
                </div>
            </div>

        </section> -->
    </main>
    <div class="footer-wrapper">
        <footer>
            <div class="container">
                <div class="row-container">
                    <div class="column item-1">
                        <h3>Contacto</h3>
                        <ul>
                            <li><a href="mailto:info@cafesdelmon.com">Email: info@cafesdelmon.com</a></li>
                            <div class="row-item-social">
                                <a href="#"><img src="/assets/logos/facebook_logo_icon_259372.png"
                                        class="icon social-facebook"></a>
                                <a href="#"><img src="/assets/logos/instagram_logo_icon_259370.png"
                                        class="icon social-instagram"></a>
                                <a href="#"><img src="/assets/logos/youtube_logo_icon_259362.png"
                                        class="icon social-youtube"></a>
                                <a href="#"><img src="/assets/logos/x_twitter_logo_icon_259367.png"
                                        class="icon social-twitter"></a>
                            </div>
                        </ul>
                    </div>
                    <div class="column item-2">
                        <h3>Enllaços utils</h3>
                        <ul>
                            <li><a href="#">Noticies</a></li>
                            <li><a href="#">Els nostres productes</a></li>
                            <li><a href="#">Plans per a empresas</a></li>
                            <li><a href="#">Afiliats</a></li>
                        </ul>
                    </div>
                    <div class="column item-3">
                        <h3>Comprar</h3>
                        <ul>
                            <li><a href="#">Particulars</a></li>
                            <li><a href="#">Empreses</a></li>
                            <li><a href="#">Suscripcions</a></li>
                        </ul>
                    </div>
                    <div class="column item-4">
                        <h3>Coneixer el café</h3>
                        <ul>
                            <li><a href="#">Varietats de café</a></li>
                            <li><a href="#">Com preparar el café</a></li>
                            <li><a href="#">El nostre procés de selecció</a></li>
                        </ul>
                    </div>
                    <div class="column item-5">
                        <h3>Support</h3>
                        <ul>
                            <li><a href="#">Preguntas frequents</a></li>
                            <li><a href="#">Devolucions</a></li>
                            <li><a href="#">Servei técnic</a></li>
                        </ul>
                    </div>
                </div>
                <p class="reserved-rights">&copy; 2025 Cafés del Mon. Tots els drets reservats.</p>
            </div>
        </footer>
    </div>
</body>

</html>