@font-face {
    font-family: 'Dancing Script';
    src: url(/assets/fonts/Dancing_Script/DancingScript-SemiBold.woff2) format('woff2'),
        url(/assets/fonts/Dancing_Script/DancingScript-SemiBold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url(/assets/fonts/Lato/Lato-Regular.woff2) format('woff2'),
        url(/assets/fonts/Lato/Lato-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --primary-color: #053617;
    --secondary-color: #ffffff;
    --primary-color-font: rgb(255, 255, 255, 1);
    --breakpoint-main: 1200px;

}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    color: #333;
    border: 1px solid red;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem auto;
    border: 1px solid orange;
}

h1,
h2 {
    font-family: 'Dancing Script', cursive;
}

h1 {
    position: absolute;
    color: var(--primary-color-font);
    top: 8vw;
    right: 6vw;
    font-size: 10vw;

/*     
    @media (max-width: 900px) {
        color: pink;
        font-size: 15vw;
        right: 14vw;
    } */

    @media (max-width: 450px) {
        font-size: 20vw;
        right: 20vw;            
        
    }
}


nav {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
}

nav ul {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid yellow;
    width: var(--breakpoint-main);
    padding: .5rem 0;
 
}

nav ul li {
    list-style: none;
    border: 1px solid brown;
    padding: .5rem 1rem;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    color: var(--primary-color-font);

    &:hover {
        border-top: 5px solid var(--primary-color-font);
        border-bottom: 5px solid var(--primary-color-font);
        border-top: 5px solid yellow;
        border-bottom: 5px solid yellow;
        color: yellow;
    }

}

nav ul li a {
    color: inherit;
    text-decoration: none;
    font-size: 1.2rem;


}

main {
    padding: 2rem;
    border: 1px solid brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    width: var(--breakpoint-main);
    margin-bottom: 2rem;
    border: 1px solid orange;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    justify-content: space-around;

}



.text-content {
    display: flex;
    flex-direction: column;
}


.box-5 {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid pink;
}

.testimonials {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border: 1px solid cyan;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    border: 10px solid yellow;
    align-items: center;

}



footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: 10px solid red;
    justify-content: center;

}

footer .container .row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    border: 10px solid blue;
}

footer .container .row-container .column {
    border: 10px solid rgb(255, 0, 0);
}


footer .container .row-container .social-media {
    margin-top: 1rem;
    border: 10px solid rgb(0, 255, 200);
}